In \[4\]:

    import pandas as pd

In \[5\]:

    data1=pd.read_csv("C:\\Users\\Abhishek\\Desktop\\emp p\\Extended_Employee_Performance_and_Productivity_Data.csv")

In \[6\]:

    data1.head(10)

Out\[6\]:

|  | Employee_ID | Department | Gender | Age | Job_Title | Hire_Date | Years_At_Company | Education_Level | Performance_Score | Monthly_Salary | Work_Hours_Per_Week | Projects_Handled | Overtime_Hours | Sick_Days | Remote_Work_Frequency | Team_Size | Training_Hours | Promotions | Employee_Satisfaction_Score | Resigned |
|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 0 | 1 | IT | Male | 55 | Specialist | 2022-01-19 08:03:05.556036 | 2 | High School | 5 | 6750.0 | 33 | 32 | 22 | 2 | 0 | 14 | 66 | 0 | 2.63 | False |
| 1 | 2 | Finance | Male | 29 | Developer | 2024-04-18 08:03:05.556036 | 0 | High School | 5 | 7500.0 | 34 | 34 | 13 | 14 | 100 | 12 | 61 | 2 | 1.72 | False |
| 2 | 3 | Finance | Male | 55 | Specialist | 2015-10-26 08:03:05.556036 | 8 | High School | 3 | 5850.0 | 37 | 27 | 6 | 3 | 50 | 10 | 1 | 0 | 3.17 | False |
| 3 | 4 | Customer Support | Female | 48 | Analyst | 2016-10-22 08:03:05.556036 | 7 | Bachelor | 2 | 4800.0 | 52 | 10 | 28 | 12 | 100 | 10 | 0 | 1 | 1.86 | False |
| 4 | 5 | Engineering | Female | 36 | Analyst | 2021-07-23 08:03:05.556036 | 3 | Bachelor | 2 | 4800.0 | 38 | 11 | 29 | 13 | 100 | 15 | 9 | 1 | 1.25 | False |
| 5 | 6 | IT | Male | 43 | Manager | 2016-08-14 08:03:05.556036 | 8 | High School | 3 | 7800.0 | 46 | 31 | 8 | 0 | 100 | 15 | 95 | 0 | 2.77 | False |
| 6 | 7 | IT | Male | 37 | Technician | 2023-08-28 08:03:05.556036 | 1 | Bachelor | 5 | 5250.0 | 55 | 20 | 29 | 2 | 0 | 16 | 27 | 0 | 4.46 | False |
| 7 | 8 | Engineering | Female | 55 | Engineer | 2014-10-27 08:03:05.556036 | 9 | Bachelor | 2 | 7200.0 | 42 | 46 | 7 | 8 | 100 | 7 | 64 | 0 | 2.09 | False |
| 8 | 9 | Marketing | Female | 55 | Technician | 2023-06-29 08:03:05.556036 | 1 | High School | 2 | 4200.0 | 51 | 23 | 21 | 14 | 0 | 1 | 0 | 1 | 1.44 | False |
| 9 | 10 | Engineering | Female | 45 | Consultant | 2016-12-23 08:03:05.556036 | 7 | Bachelor | 1 | 6050.0 | 41 | 33 | 2 | 6 | 75 | 4 | 53 | 2 | 2.93 | False |

In \[7\]:

    data1.columns

Out\[7\]:

    Index(['Employee_ID', 'Department', 'Gender', 'Age', 'Job_Title', 'Hire_Date',
           'Years_At_Company', 'Education_Level', 'Performance_Score',
           'Monthly_Salary', 'Work_Hours_Per_Week', 'Projects_Handled',
           'Overtime_Hours', 'Sick_Days', 'Remote_Work_Frequency', 'Team_Size',
           'Training_Hours', 'Promotions', 'Employee_Satisfaction_Score',
           'Resigned'],
          dtype='object')

In \[8\]:

    data1.info

Out\[8\]:

    <bound method DataFrame.info of        Employee_ID        Department  Gender  Age   Job_Title  \
    0                1                IT    Male   55  Specialist   
    1                2           Finance    Male   29   Developer   
    2                3           Finance    Male   55  Specialist   
    3                4  Customer Support  Female   48     Analyst   
    4                5       Engineering  Female   36     Analyst   
    ...            ...               ...     ...  ...         ...   
    99995        99996           Finance    Male   27  Technician   
    99996        99997                IT  Female   36  Consultant   
    99997        99998        Operations    Male   53     Analyst   
    99998        99999                HR  Female   22  Consultant   
    99999       100000           Finance  Female   43     Analyst   

                            Hire_Date  Years_At_Company Education_Level  \
    0      2022-01-19 08:03:05.556036                 2     High School   
    1      2024-04-18 08:03:05.556036                 0     High School   
    2      2015-10-26 08:03:05.556036                 8     High School   
    3      2016-10-22 08:03:05.556036                 7        Bachelor   
    4      2021-07-23 08:03:05.556036                 3        Bachelor   
    ...                           ...               ...             ...   
    99995  2022-12-07 08:03:05.556036                 1        Bachelor   
    99996  2018-07-24 08:03:05.556036                 6          Master   
    99997  2015-11-24 08:03:05.556036                 8     High School   
    99998  2015-08-03 08:03:05.556036                 9     High School   
    99999  2024-03-04 08:03:05.556036                 0             PhD   

           Performance_Score  Monthly_Salary  Work_Hours_Per_Week  \
    0                      5          6750.0                   33   
    1                      5          7500.0                   34   
    2                      3          5850.0                   37   
    3                      2          4800.0                   52   
    4                      2          4800.0                   38   
    ...                  ...             ...                  ...   
    99995                  4          4900.0                   55   
    99996                  5          8250.0                   39   
    99997                  2          4800.0                   31   
    99998                  5          8250.0                   35   
    99999                  1          4400.0                   51   

           Projects_Handled  Overtime_Hours  Sick_Days  Remote_Work_Frequency  \
    0                    32              22          2                      0   
    1                    34              13         14                    100   
    2                    27               6          3                     50   
    3                    10              28         12                    100   
    4                    11              29         13                    100   
    ...                 ...             ...        ...                    ...   
    99995                46               5          3                     75   
    99996                35               7          0                      0   
    99997                13               6          5                      0   
    99998                43              10          1                     75   
    99999                43              27         11                     75   

           Team_Size  Training_Hours  Promotions  Employee_Satisfaction_Score  \
    0             14              66           0                         2.63   
    1             12              61           2                         1.72   
    2             10               1           0                         3.17   
    3             10               0           1                         1.86   
    4             15               9           1                         1.25   
    ...          ...             ...         ...                          ...   
    99995         16              48           2                         1.28   
    99996         10              77           1                         3.48   
    99997          5              87           1                         2.60   
    99998          2              31           1                         3.10   
    99999         13              45           1                         2.64   

           Resigned  
    0         False  
    1         False  
    2         False  
    3         False  
    4         False  
    ...         ...  
    99995     False  
    99996      True  
    99997     False  
    99998     False  
    99999     False  

    [100000 rows x 20 columns]>

In \[9\]:

    data1.drop(columns=['Employee_ID','Hire_Date','Work_Hours_Per_Week','Sick_Days','Remote_Work_Frequency','Team_Size','Training_Hours','Resigned'],inplace=True)

In \[10\]:

    data1

Out\[10\]:

|  | Department | Gender | Age | Job_Title | Years_At_Company | Education_Level | Performance_Score | Monthly_Salary | Projects_Handled | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 0 | IT | Male | 55 | Specialist | 2 | High School | 5 | 6750.0 | 32 | 22 | 0 | 2.63 |
| 1 | Finance | Male | 29 | Developer | 0 | High School | 5 | 7500.0 | 34 | 13 | 2 | 1.72 |
| 2 | Finance | Male | 55 | Specialist | 8 | High School | 3 | 5850.0 | 27 | 6 | 0 | 3.17 |
| 3 | Customer Support | Female | 48 | Analyst | 7 | Bachelor | 2 | 4800.0 | 10 | 28 | 1 | 1.86 |
| 4 | Engineering | Female | 36 | Analyst | 3 | Bachelor | 2 | 4800.0 | 11 | 29 | 1 | 1.25 |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |
| 99995 | Finance | Male | 27 | Technician | 1 | Bachelor | 4 | 4900.0 | 46 | 5 | 2 | 1.28 |
| 99996 | IT | Female | 36 | Consultant | 6 | Master | 5 | 8250.0 | 35 | 7 | 1 | 3.48 |
| 99997 | Operations | Male | 53 | Analyst | 8 | High School | 2 | 4800.0 | 13 | 6 | 1 | 2.60 |
| 99998 | HR | Female | 22 | Consultant | 9 | High School | 5 | 8250.0 | 43 | 10 | 1 | 3.10 |
| 99999 | Finance | Female | 43 | Analyst | 0 | PhD | 1 | 4400.0 | 43 | 27 | 1 | 2.64 |

100000 rows × 12 columns

In \[11\]:

    data1.isna().sum().sum()

Out\[11\]:

    np.int64(0)

In \[12\]:

    data1.duplicated().sum()

Out\[12\]:

    np.int64(0)

No duplicates and na values found

In \[13\]:

    data1.head(2)

Out\[13\]:

|  | Department | Gender | Age | Job_Title | Years_At_Company | Education_Level | Performance_Score | Monthly_Salary | Projects_Handled | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 0 | IT | Male | 55 | Specialist | 2 | High School | 5 | 6750.0 | 32 | 22 | 0 | 2.63 |
| 1 | Finance | Male | 29 | Developer | 0 | High School | 5 | 7500.0 | 34 | 13 | 2 | 1.72 |

In \[14\]:

    data1.groupby("Department")["Monthly_Salary"].mean().sort_values(ascending=False).plot(kind="bar",colormap="viridis")
    import matplotlib.pyplot as plt
    plt.title("Average Salaries by Department")
    plt.ylabel("Average Salary")
    plt.xlabel("Department")
    plt.show()

In \[15\]:

    data1.head(2)

Out\[15\]:

|  | Department | Gender | Age | Job_Title | Years_At_Company | Education_Level | Performance_Score | Monthly_Salary | Projects_Handled | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 0 | IT | Male | 55 | Specialist | 2 | High School | 5 | 6750.0 | 32 | 22 | 0 | 2.63 |
| 1 | Finance | Male | 29 | Developer | 0 | High School | 5 | 7500.0 | 34 | 13 | 2 | 1.72 |

In \[16\]:

    data1["Performance_Score"].value_counts().plot(kind="pie",legend=True)
    plt.title("Performance Score Counts")
    plt.ylabel("")
    plt.show()

In \[17\]:

    data1["Gender"].value_counts()

Out\[17\]:

    Gender
    Male      48031
    Female    48001
    Other      3968
    Name: count, dtype: int64

In \[18\]:

    data1.groupby("Department")["Years_At_Company"].mean().sort_values(ascending=False)

Out\[18\]:

    Department
    Marketing           4.504458
    Engineering         4.488956
    Customer Support    4.487675
    Finance             4.481429
    HR                  4.473996
    Operations          4.473571
    Sales               4.469430
    Legal               4.469059
    IT                  4.435990
    Name: Years_At_Company, dtype: float64

In \[19\]:

    data1["Overtime_Hours"].describe()

Out\[19\]:

    count    100000.000000
    mean         14.514930
    std           8.664026
    min           0.000000
    25%           7.000000
    50%          15.000000
    75%          22.000000
    max          29.000000
    Name: Overtime_Hours, dtype: float64

In \[20\]:

    data1.describe()

Out\[20\]:

|  | Age | Years_At_Company | Performance_Score | Monthly_Salary | Projects_Handled | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|----|----|----|
| count | 100000.000000 | 100000.000000 | 100000.000000 | 100000.000000 | 100000.000000 | 100000.000000 | 100000.000000 | 100000.000000 |
| mean | 41.029410 | 4.476070 | 2.995430 | 6403.211000 | 24.431170 | 14.514930 | 0.999720 | 2.999088 |
| std | 11.244121 | 2.869336 | 1.414726 | 1372.508717 | 14.469584 | 8.664026 | 0.815872 | 1.150719 |
| min | 22.000000 | 0.000000 | 1.000000 | 3850.000000 | 0.000000 | 0.000000 | 0.000000 | 1.000000 |
| 25% | 31.000000 | 2.000000 | 2.000000 | 5250.000000 | 12.000000 | 7.000000 | 0.000000 | 2.010000 |
| 50% | 41.000000 | 4.000000 | 3.000000 | 6500.000000 | 24.000000 | 15.000000 | 1.000000 | 3.000000 |
| 75% | 51.000000 | 7.000000 | 4.000000 | 7500.000000 | 37.000000 | 22.000000 | 2.000000 | 3.990000 |
| max | 60.000000 | 10.000000 | 5.000000 | 9000.000000 | 49.000000 | 29.000000 | 2.000000 | 5.000000 |

In \[21\]:

    data1.groupby("Department")["Overtime_Hours"].mean().sort_values(ascending=False)

Out\[21\]:

    Department
    IT                  14.672716
    Engineering         14.593282
    HR                  14.577099
    Legal               14.548390
    Operations          14.520794
    Sales               14.513757
    Marketing           14.482792
    Customer Support    14.383951
    Finance             14.344911
    Name: Overtime_Hours, dtype: float64

In \[22\]:

    data1.groupby(["Gender","Department"])["Overtime_Hours"].mean().sort_values(ascending=False)

Out\[22\]:

    Gender  Department      
    Other   Operations          15.123874
            Legal               14.741176
    Female  IT                  14.703857
            Engineering         14.698030
    Male    Sales               14.666164
            IT                  14.665673
    Female  HR                  14.651711
    Other   Finance             14.644681
    Female  Legal               14.604333
            Marketing           14.601631
    Other   Sales               14.581818
    Male    Engineering         14.559229
            HR                  14.511971
    Female  Operations          14.503520
    Male    Operations          14.488106
            Legal               14.475813
    Female  Customer Support    14.471374
    Other   HR                  14.467641
            IT                  14.388889
    Male    Marketing           14.386959
            Finance             14.367171
    Female  Sales               14.357993
    Male    Customer Support    14.315895
    Female  Finance             14.296599
    Other   Marketing           14.194954
            Customer Support    14.166667
            Engineering         13.746544
    Name: Overtime_Hours, dtype: float64

In \[23\]:

    data1.groupby(["Department","Performance_Score"])["Overtime_Hours"].mean().sort_values(ascending=False)

Out\[23\]:

    Department        Performance_Score
    IT                3                    14.875000
    Operations        5                    14.836991
    Legal             1                    14.836426
    IT                1                    14.764365
    HR                2                    14.758087
    Customer Support  3                    14.748092
    IT                4                    14.725526
    Engineering       2                    14.712191
    HR                1                    14.711942
    Operations        3                    14.698004
    Marketing         3                    14.625000
    Engineering       5                    14.618502
    Sales             3                    14.610071
    Legal             2                    14.607808
    Engineering       3                    14.595946
    IT                5                    14.594464
    Operations        1                    14.587394
    Engineering       4                    14.570896
    Legal             5                    14.568725
    Marketing         1                    14.551192
    Sales             5                    14.549496
    Marketing         4                    14.537079
    HR                4                    14.517415
    Sales             4                    14.496665
    HR                3                    14.484793
    Sales             1                    14.484522
    Finance           5                    14.475252
    Legal             4                    14.473133
    Engineering       1                    14.464953
    Sales             2                    14.427863
    Customer Support  2                    14.418025
    IT                2                    14.413256
    HR                5                    14.412626
    Finance           1                    14.387211
    Marketing         5                    14.356582
    Finance           4                    14.343501
    Marketing         2                    14.334375
    Customer Support  1                    14.304464
    Operations        4                    14.304405
    Customer Support  5                    14.300226
    Finance           3                    14.283740
                      2                    14.240463
    Legal             3                    14.237746
    Operations        2                    14.171546
    Customer Support  4                    14.149146
    Name: Overtime_Hours, dtype: float64

In \[24\]:

    df_numeric=data1.select_dtypes(include=["number"])

In \[25\]:

    df_numeric

Out\[25\]:

|  | Age | Years_At_Company | Performance_Score | Monthly_Salary | Projects_Handled | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|----|----|----|
| 0 | 55 | 2 | 5 | 6750.0 | 32 | 22 | 0 | 2.63 |
| 1 | 29 | 0 | 5 | 7500.0 | 34 | 13 | 2 | 1.72 |
| 2 | 55 | 8 | 3 | 5850.0 | 27 | 6 | 0 | 3.17 |
| 3 | 48 | 7 | 2 | 4800.0 | 10 | 28 | 1 | 1.86 |
| 4 | 36 | 3 | 2 | 4800.0 | 11 | 29 | 1 | 1.25 |
| ... | ... | ... | ... | ... | ... | ... | ... | ... |
| 99995 | 27 | 1 | 4 | 4900.0 | 46 | 5 | 2 | 1.28 |
| 99996 | 36 | 6 | 5 | 8250.0 | 35 | 7 | 1 | 3.48 |
| 99997 | 53 | 8 | 2 | 4800.0 | 13 | 6 | 1 | 2.60 |
| 99998 | 22 | 9 | 5 | 8250.0 | 43 | 10 | 1 | 3.10 |
| 99999 | 43 | 0 | 1 | 4400.0 | 43 | 27 | 1 | 2.64 |

100000 rows × 8 columns

In \[26\]:

    df_numeric.corr()["Performance_Score"].sort_values(ascending=False)

Out\[26\]:

    Performance_Score              1.000000
    Monthly_Salary                 0.510035
    Employee_Satisfaction_Score    0.001696
    Years_At_Company               0.001598
    Age                            0.001598
    Projects_Handled               0.000640
    Overtime_Hours                -0.001312
    Promotions                    -0.003501
    Name: Performance_Score, dtype: float64

-1 1 strong negative strongpositive opposite similar

In \[27\]:

    y=data1["Performance_Score"]
    X=data1[["Years_At_Company","Monthly_Salary","Overtime_Hours","Promotions","Employee_Satisfaction_Score"]]

In \[28\]:

    X

Out\[28\]:

|  | Years_At_Company | Monthly_Salary | Overtime_Hours | Promotions | Employee_Satisfaction_Score |
|----|----|----|----|----|----|
| 0 | 2 | 6750.0 | 22 | 0 | 2.63 |
| 1 | 0 | 7500.0 | 13 | 2 | 1.72 |
| 2 | 8 | 5850.0 | 6 | 0 | 3.17 |
| 3 | 7 | 4800.0 | 28 | 1 | 1.86 |
| 4 | 3 | 4800.0 | 29 | 1 | 1.25 |
| ... | ... | ... | ... | ... | ... |
| 99995 | 1 | 4900.0 | 5 | 2 | 1.28 |
| 99996 | 6 | 8250.0 | 7 | 1 | 3.48 |
| 99997 | 8 | 4800.0 | 6 | 1 | 2.60 |
| 99998 | 9 | 8250.0 | 10 | 1 | 3.10 |
| 99999 | 0 | 4400.0 | 27 | 1 | 2.64 |

100000 rows × 5 columns

In \[29\]:

    X.columns

Out\[29\]:

    Index(['Years_At_Company', 'Monthly_Salary', 'Overtime_Hours', 'Promotions',
           'Employee_Satisfaction_Score'],
          dtype='object')

In \[30\]:

    from sklearn.preprocessing import StandardScaler

In \[31\]:

    scaler =StandardScaler()

In \[32\]:

    from sklearn.model_selection import train_test_split
    X_train, X_test , y_train, y_test =train_test_split(X,y,test_size=0.2)

In \[33\]:

    #Scaled X train
    X_train = scaler.fit_transform(X_train)

In \[34\]:

    import joblib
    joblib.dump(scaler,"scaler.pkl")

Out\[34\]:

    ['scaler.pkl']

In \[35\]:

    #Scaled X test
    X_test= scaler.fit_transform(X_test)

In \[36\]:

    X_test

Out\[36\]:

    array([[-0.512796  , -1.15328281, -0.8646049 ,  1.20779428,  0.70849766],
           [ 1.57563162,  1.88270868,  0.17525026, -0.01318659, -1.48611972],
           [-0.512796  ,  0.94299703,  0.05971079, -0.01318659,  0.1555232 ],
           ...,
           [-0.16472473,  1.44899561, -1.44230221, -0.01318659, -1.72804604],
           [-1.55700981,  1.88270868, -1.44230221, -0.01318659, -0.66529826],
           [-1.55700981,  1.01528254,  0.17525026, -0.01318659, -1.42563814]])

In \[37\]:

    import warnings
    warnings.filterwarnings("ignore")

In \[38\]:

    from sklearn.metrics import accuracy_score

In \[39\]:

    def modelperformance(predictions):
        print("Accuracy score on model is {}".format(accuracy_score(y_test,predictions)))

In \[40\]:

    from sklearn.model_selection import GridSearchCV

In \[41\]:

    from sklearn.linear_model import LogisticRegression
    log_model=LogisticRegression()

In \[42\]:

    log_model.fit(X_train,y_train)

Out\[42\]:

    LogisticRegression()

**In a Jupyter environment, please rerun this cell to show the HTML
representation or trust the notebook.  
On GitHub, the HTML representation is unable to render, please try
loading this page with nbviewer.org.**

LogisticRegression

<a
href="https://scikit-learn.org/1.6/modules/generated/sklearn.linear_model.LogisticRegression.html"
class="sk-estimator-doc-link fitted" rel="noreferrer"
target="_blank">?<span>Documentation for LogisticRegression</span></a><span class="sk-estimator-doc-link fitted">iFitted</span>

    LogisticRegression()

In \[43\]:

    log_model.predict(X_test)

Out\[43\]:

    array([1, 5, 5, ..., 5, 5, 5])

In \[44\]:

    log_predictions= log_model.predict(X_test)

In \[45\]:

    modelperformance(log_predictions)

    Accuracy score on model is 0.31495

In \[46\]:

    from sklearn.neighbors import KNeighborsClassifier
    param_grid ={"n_neighbors": [3,5,7,9,11],
                 "weights":["uniform","distance"]}

In \[47\]:

    gridkn = GridSearchCV(KNeighborsClassifier(),param_grid,cv=5)

In \[48\]:

    gridkn.fit(X_train,y_train)

Out\[48\]:

    GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
                 param_grid={'n_neighbors': [3, 5, 7, 9, 11],
                             'weights': ['uniform', 'distance']})

**In a Jupyter environment, please rerun this cell to show the HTML
representation or trust the notebook.  
On GitHub, the HTML representation is unable to render, please try
loading this page with nbviewer.org.**

GridSearchCV

<a
href="https://scikit-learn.org/1.6/modules/generated/sklearn.model_selection.GridSearchCV.html"
class="sk-estimator-doc-link fitted" rel="noreferrer"
target="_blank">?<span>Documentation for GridSearchCV</span></a><span class="sk-estimator-doc-link fitted">iFitted</span>

    GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
                 param_grid={'n_neighbors': [3, 5, 7, 9, 11],
                             'weights': ['uniform', 'distance']})

best_estimator\_: KNeighborsClassifier

    KNeighborsClassifier(n_neighbors=3, weights='distance')

KNeighborsClassifier

<a
href="https://scikit-learn.org/1.6/modules/generated/sklearn.neighbors.KNeighborsClassifier.html"
class="sk-estimator-doc-link fitted" rel="noreferrer"
target="_blank">?<span>Documentation for KNeighborsClassifier</span></a>

    KNeighborsClassifier(n_neighbors=3, weights='distance')

In \[49\]:

    gridkn.best_params_

Out\[49\]:

    {'n_neighbors': 3, 'weights': 'distance'}

In \[50\]:

    predictions =gridkn.predict(X_test)

In \[51\]:

    modelperformance(predictions)

    Accuracy score on model is 0.5011